body {
    color: white;
    overflow-x: hidden;
    min-height: 2025px;
    /* font-family: "Roboto", sans-serif; */
    font-family: "DM Sans", sans-serif;
  
    background: linear-gradient(to left top, #030637, #060f3a, #0c143c, #12193f, #181e41, #182345, #192848, #1b2d4b, #183350, #153954, #133e57, #13445a);
    /* background-image: linear-gradient(to left top, #984a59, #79415c, #583a57, #3b3249, #252835, #212631, #1d232c, #1a2128, #1c2934, #1c3241, #193b4d, #13445a); */
}

p>button{
  color: white;
}


@media screen and (max-width:360px) {
    .team {
        height: 110px;
        width: 100%;
    }
}

@media screen and (max-width:349px) {
    .team {
        height: 110px;
        margin-left: 250px;
    }
}

nav {
  background: linear-gradient(312deg, #134158, #192748);
    /* background-color: #B21F66; */
    /* color: white; */
}

nav>div {
    color: white;
}


.team {
    box-shadow: 0 0.5em 1.5em -0.4em #000000;
}

button {
    box-shadow: 0 0.5em 0.5em -0.4em #000000;
    margin-left: 20px;
    /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,113,97,1) 52%, rgba(8,85,170,1) 100%); */
/* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,9,121,1) 52%, rgba(8,85,170,1) 100%); */
    /* "to left" / "to right" - affects initial color */
    /* background: linear-gradient(to left, #970747 50%, #B72A67 50%) right; */
    /* background: hsla(221, 45%, 73%, 1);

background: linear-gradient(90deg,#192748 0%, hsla(220, 78%, 29%, 1) 100%);

background: -moz-linear-gradient(90deg, #192748 0%, hsla(220, 78%, 29%, 1) 100%);

background: -webkit-linear-gradient(90deg, #192748 0%, hsla(220, 78%, 29%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BAFD9", endColorstr="#103783", GradientType=1 ); */
    background-size: 200%;
    transition: .5s ease-out;
}

.white {
    box-shadow: 0 0.5em 0.5em -0.4em #000000;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #ffffff 50%, rgb(134, 133, 133) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.white:hover {
    background-position: left;
    transform: translateY(-8px);
}



button:hover {
    background-position: left;
    transform: translateY(-8px);
}


.card {
    width: 25rem;
    box-shadow: 0 0.5em 1.5em -0.4em #000000;
}



#cards>div {
    width: 28rem;
}


@media screen and (max-width:600px) {
    #cards>div {
        width: 16rem;
    }
}


.home-img {
    transition: .5s ease
}


.textbetween {
  text-align: justify;
}

.home-img:hover {
 
    transition: .5s ease;
    cursor: pointer;
    box-shadow: #2D3250 0px 13px 27px -5px,#2D3250 0px 8px 16px -8px, #2D3250 0px 8px 16px -8px, #ffffff 0px 8px 16px -8px;
}


.hover {
    cursor: pointer;
}

@media screen and (max-width:400px) {
    #cards>div {
        width: 14rem;
    }

    .home-con>div {
        backdrop-filter: blur(5px);
        width: 100%;

    }
}



.home-con>div {
    color: white;
    display: inline-block;
    padding-left: 20px;
    width: 80%;


}
.spe-div{
    margin-top: 20%;
    margin-bottom: 5%;
}


.td {
    text-decoration: none;
}

h2 {
    position: absolute;
    top: 20%;
    /* Adjust top position as desired */
    left: -3%;
    /* Adjust left position as desired */
    color: white;
    font-weight: 600;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ts {
    text-shadow: #000000 0px 1px 1px;
}

.dropshadow {
    filter: drop-shadow(5mm 8mm 4mm rgb(26, 19, 28));
}


@media screen and (min-width: 200px) and (max-width:768px) {
    video {
        height: 999px;
    }
}


.red {
    background-color: #970747;
}


.card-div:hover {
    cursor: pointer;
}

@media screen and (min-width: 1080px) and (max-width:1140px) {
  .card-div>.card{
   width: 300px;
  }
}

@media screen and (min-width: 993px) and (max-width:1140px) {
  .card-div>.audit>img{
   height: 270px;
  }
}

@media screen and (min-width: 1140px) and (max-width:1180px) {
  .card-div>.audit>img{
   height: 320px;
  }
}

@media screen and (max-width: 993px)  {
  .card-div>.audit>img{
   height: 370px;
  }
}

@media screen and (max-width:435px) {
  .card-div>.audit>img{
   height: 300px;
  }
}


@media screen and (min-width: 592px) and (max-width:1119px) {
    .img2 {
        margin-top: 100px;
        width: 100%;
    }
}

@media screen and (max-width:510px) {

    .simg1,
    .simg2,
    .simg3 {
        height: 120px;
        width: 200px;
    }

    .simg3 {
        margin-top: -200px;
    }

    .simg2 {
        margin-top: -100px;
    }

    .simg1 {
        margin-bottom: 0;
    }
}



@media screen and (max-width:367px) {

    .simg1,
    .simg2,
    .simg3 {
        height: 6rem;
        width: 19rem;
    }

    .simg3 {
        margin-left: -2000px
    }

    .simg2 {
        margin-right: -100px;
    }

    .simg1 {
        margin-left: 100px;
    }
}

.img2 {
    width: 80%;
}


@media screen and (max-width:575px) {
    .simg {
        margin-top: -40px;
        width: 40%;
    }

    .simg1,
    .simg3 {
        margin-left: 200px;
    }

    .simg2 {
        margin-right: 200px;
    }
}


@media screen and (min-width: 992px) and (max-width:1082px) {
    .card {
        width: 17rem;
    }
}


@media screen and (min-width: 1141px) {
    .card {

        width: 20rem;
    }
}

@media screen and (max-width: 435px) {
    .card {

        width: 20rem;
    }
}


@media screen and (max-width: 360px) {
    .card {

        width: 17rem;
    }
}


@media screen and (max-width: 295px) {
    .card {

        width: 15rem;
    }
}



/* background solar system */

/* body {
    background-color: #012;
    background-image: url("https://cssanimation.rocks/starwars/images/bg.jpg");
    background-size: 33%;
    background-repeat: repeat;
    min-height: 2025px;
  } */
  
  .system {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.75);
  }
  
  .sun {
    width: 144px;
    height: 144px;
    border-radius: 72px;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -72px;
    background-image: url("http://sdo.gsfc.nasa.gov/assets/img/latest/latest_256_HMIIF.jpg");
    background-size: 144px;
    background-repeat: no-repeat;
  }
  
  @-webkit-keyframes rot-mer {
    from {
      -webkit-transform: rotate(0deg) translatey(-84px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-84px) rotate(-360deg);
    }
  }

  @keyframes rot-mer {
    from {
      transform: rotate(0deg) translatey(-84px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-84px) rotate(-360deg);
    }
  }
  .mer {
    width: 3.5px;
    height: 3.5px;
    border-radius: 50%;
    background-color: #888;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -1.75px;
    -webkit-animation: rot-mer 0.88s infinite linear;
    animation: rot-mer 0.88s infinite linear;
    z-index: 200;
  }
  
  .mer-path {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -84px;
    border: solid 1px #444;
  }
  
  @-webkit-keyframes rot-ven {
    from {
      -webkit-transform: rotate(0deg) translatey(-90px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-90px) rotate(-360deg);
    }
  }
  @keyframes rot-ven {
    from {
      transform: rotate(0deg) translatey(-90px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-90px) rotate(-360deg);
    }
  }
  .ven {
    width: 5.5px;
    height: 5.5px;
    border-radius: 50%;
    background-color: #f5f9be;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -2.75px;
    -webkit-animation: rot-ven 2.25s infinite linear;
    animation: rot-ven 2.25s infinite linear;
    z-index: 200;
  }
  
  .ven-path {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -90px;
    border: solid 1px #444;
  }
  
  @-webkit-keyframes rot-ear {
    from {
      -webkit-transform: rotate(0deg) translatey(-102px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-102px) rotate(-360deg);
    }
  }
  @keyframes rot-ear {
    from {
      transform: rotate(0deg) translatey(-102px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-102px) rotate(-360deg);
    }
  }
  .ear {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #4b94f9;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -3.5px;
    -webkit-animation: rot-ear 3.65s infinite linear;
    animation: rot-ear 3.65s infinite linear;
    z-index: 200;
  }
  
  .ear-path {
    width: 204px;
    height: 204px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -102px;
    border: solid 1px #444;
  }
  
  @-webkit-keyframes rot-mar {
    from {
      -webkit-transform: rotate(0deg) translatey(-118px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-118px) rotate(-360deg);
    }
  }
  @keyframes rot-mar {
    from {
      transform: rotate(0deg) translatey(-118px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-118px) rotate(-360deg);
    }
  }
  .mar {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #dd411a;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -3px;
    -webkit-animation: rot-mar 6.87s infinite linear;
    animation: rot-mar 6.87s infinite linear;
    z-index: 200;
  }
  
  .mar-path {
    width: 236px;
    height: 236px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -118px;
    border: solid 1px #444;
  }
  
  @-webkit-keyframes rot-jup {
    from {
      -webkit-transform: rotate(0deg) translatey(-228px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-228px) rotate(-360deg);
    }
  }
  @keyframes rot-jup {
    from {
      transform: rotate(0deg) translatey(-228px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-228px) rotate(-360deg);
    }
  }
  .jup {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #eaad3b;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -35px;
    -webkit-animation: rot-jup 43.32s infinite linear;
    animation: rot-jup 43.32s infinite linear;
    z-index: 200;
  }
  
  .jup-path {
    width: 456px;
    height: 456px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -228px;
    border: solid 1px #444;
  }
  
  @-webkit-keyframes rot-sat {
    from {
      -webkit-transform: rotate(0deg) translatey(-362px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-362px) rotate(-360deg);
    }
  }
  @keyframes rot-sat {
    from {
      transform: rotate(0deg) translatey(-362px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-362px) rotate(-360deg);
    }
  }
  .sat {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #d6cd93;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -29px;
    -webkit-animation: rot-sat 107.59s infinite linear;
    animation: rot-sat 107.59s infinite linear;
    z-index: 200;
  }
  
  .sat-path {
    width: 724px;
    height: 724px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -362px;
    border: solid 1px #444;
  }
  
  @-webkit-keyframes rot-ura {
    from {
      -webkit-transform: rotate(0deg) translatey(-648px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-648px) rotate(-360deg);
    }
  }
  @keyframes rot-ura {
    from {
      transform: rotate(0deg) translatey(-648px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-648px) rotate(-360deg);
    }
  }
  .ura {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #bfeef2;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -13px;
    -webkit-animation: rot-ura 306.87s infinite linear;
    animation: rot-ura 306.87s infinite linear;
    z-index: 200;
  }
  
  .ura-path {
    width: 1296px;
    height: 1296px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -648px;
    border: solid 1px #444;
  }
  
  @-webkit-keyframes rot-nep {
    from {
      -webkit-transform: rotate(0deg) translatey(-972px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-972px) rotate(-360deg);
    }
  }
  @keyframes rot-nep {
    from {
      transform: rotate(0deg) translatey(-972px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-972px) rotate(-360deg);
    }
  }
  .nep {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #363ed7;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -12px;
    -webkit-animation: rot-nep 601.9s infinite linear;
    animation: rot-nep 601.9s infinite linear;
    z-index: 200;
  }
  
  .nep-path {
    width: 1944px;
    height: 1944px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -972px;
    border: solid 1px #444;
  }
  
  @-webkit-keyframes rot-plu {
    from {
      -webkit-transform: rotate(0deg) translatey(-1246px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-1246px) rotate(-360deg);
    }
  }
  @keyframes rot-plu {
    from {
      transform: rotate(0deg) translatey(-1246px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-1246px) rotate(-360deg);
    }
  }
  .plu {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #963;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -1.5px;
    -webkit-animation: rot-plu 904.65s infinite linear;
    animation: rot-plu 904.65s infinite linear;
    z-index: 200;
  }
  
  .plu-path {
    width: 2492px;
    height: 2492px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1066.6666666667px;
    left: 50%;
    margin: -1246px;
    border: solid 1px #444;
  }
  
  @-webkit-keyframes rot-lune {
    from {
      -webkit-transform: rotate(0deg) translatey(-7px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-7px) rotate(-360deg);
    }
  }
  @keyframes rot-lune {
    from {
      transform: rotate(0deg) translatey(-7px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-7px) rotate(-360deg);
    }
  }
  .lune {
    width: 2px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.5px;
    -webkit-animation: rot-lune 0.27s infinite linear;
    animation: rot-lune 0.27s infinite linear;
  }
  
  .mar {
    background-image: repeating-linear-gradient(to bottom, #fff, #fff 1px, transparent 1px, transparent 5px);
  }
  
  @-webkit-keyframes rot-pho {
    from {
      -webkit-transform: rotate(0deg) translatey(-7px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-7px) rotate(-360deg);
    }
  }
  @keyframes rot-pho {
    from {
      transform: rotate(0deg) translatey(-7px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-7px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-dem {
    from {
      -webkit-transform: rotate(0deg) translatey(-9px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-9px) rotate(-360deg);
    }
  }
  @keyframes rot-dem {
    from {
      transform: rotate(0deg) translatey(-9px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-9px) rotate(-360deg);
    }
  }
  .pho, .dem {
    width: 1px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .pho {
    margin: -1px;
    -webkit-animation: rot-pho 0.15s infinite linear;
    animation: rot-pho 0.15s infinite linear;
  }
  
  .dem {
    margin: -1px;
    -webkit-animation: rot-dem 0.2s infinite linear;
    animation: rot-dem 0.2s infinite linear;
  }
  
  .jove {
    width: 2px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 35px;
    left: 50%;
  }
  
  @-webkit-keyframes rot-io {
    from {
      -webkit-transform: rotate(0deg) translatey(-39px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-39px) rotate(-360deg);
    }
  }
  @keyframes rot-io {
    from {
      transform: rotate(0deg) translatey(-39px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-39px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-eur {
    from {
      -webkit-transform: rotate(0deg) translatey(-41px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-41px) rotate(-360deg);
    }
  }
  @keyframes rot-eur {
    from {
      transform: rotate(0deg) translatey(-41px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-41px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-gan {
    from {
      -webkit-transform: rotate(0deg) translatey(-45px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-45px) rotate(-360deg);
    }
  }
  @keyframes rot-gan {
    from {
      transform: rotate(0deg) translatey(-45px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-45px) rotate(-360deg);
    }
  }
  @-webkit-keyframes rot-cal {
    from {
      -webkit-transform: rotate(0deg) translatey(-53px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-53px) rotate(-360deg);
    }
  }
  @keyframes rot-cal {
    from {
      transform: rotate(0deg) translatey(-53px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translatey(-53px) rotate(-360deg);
    }
  }
  .io {
    -webkit-animation: rot-io 0.2s infinite linear;
    animation: rot-io 0.2s infinite linear;
  }
  
  .eur {
    -webkit-animation: rot-eur 0.35s infinite linear;
    animation: rot-eur 0.35s infinite linear;
  }
  
  .gan {
    -webkit-animation: rot-gan 0.7s infinite linear;
    animation: rot-gan 0.7s infinite linear;
  }
  
  .cal {
    -webkit-animation: rot-cal 1.65s infinite linear;
    animation: rot-cal 1.65s infinite linear;
  }
  
  .jup {
    background-image: repeating-linear-gradient(6deg, #797663 22px, #e1dcde 16px, #c3a992 30px, #e9ece2 30px);
  }
  
  .spot {
    position: absolute;
    width: 16px;
    height: 12px;
    border-radius: 8px/6px;
    top: 45px;
    left: 50%;
    background-color: #bc833b;
    box-shadow: 0px 0px 5px #e1dcde;
    border: solid 1px #e1dcde;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 300;
  }
  .nep .spot {
    background-color: #29319d;
    border: 0;
    box-shadow: none;
    top: 50%;
    left: 45%;
    width: 10px;
    height: 6px;
    margin: -2px;
    border-radius: 5px/3px;
    border-left: solid 1px #7ed6fe;
  }
  
  div[class$=-ring] {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.7;
    transform: rotatex(45deg);
  }
  
  .a-ring {
    border: solid 5px #96866f;
    width: 119px;
    height: 119px;
    margin: -64.5px;
  }
  
  .b-ring {
    border: solid 10px #554c3c;
    width: 104px;
    height: 104px;
    margin: -62px;
  }
  
  .c-ring {
    border: solid 9px #574f4a;
    width: 95px;
    height: 95px;
    margin: -56.5px;
  }
  
  .f-ring {
    border: solid 2px #908e8d;
    width: 133px;
    height: 133px;
    margin: -68.5px;
  }
  
  .e-ring {
    border: solid 7px #908e8d;
    width: 76px;
    height: 76px;
    margin: -45px;
    transform: rotatex(0deg) rotatey(89deg) !important;
  }
  
  .plu, .plu-path {
    top: 1354.0666666667px;
  }